# Task 1

# First Question

In [26]:
1+1

2

# Second Question

In [96]:
a = []

In [104]:
a.clear()
for i in range(1999,3201):
    if i % 7 == 0 and i % 5 == 0:
        a.append(str(i))
print(','.join(a))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

# Question 3rd

In [5]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

Enter your first name: hanad
Enter your last name: muqaddar

In [6]:
f = first_name[::-1]

In [7]:
l = last_name[::-1]

In [8]:
print(f,l)

danah raddaqum

In [9]:
print(first_name[::-1],last_name[::-1])

danah raddaqum

### These are the both options by which we can done this question done.

# Question 4

#### Formula  v=4/3 * PI * r**3

In [66]:
import math
diameter = int(input("Enter the diameter: "))
volume  = 1/6 * math.pi * pow(diameter,3)
volume

Enter the diameter: 12

904.7786842338603

# Task 2

In [87]:
numbers = input("Enter Numbers with comma seprated : ")

Enter Numbers with comma seprated : 4,85,69,54,21,36,2,4,5,6

In [92]:
list = numbers.split(",")

In [93]:
list

['4', '85', '69', '54', '21', '36', '2', '4', '5', '6']

# Question 2

In [51]:
for i in range(5):
    for j in range(i+1):
        print('*', end="")
    print("\r")
for i in range(5,0,-1):
    for j in range(i-1):
        print('*', end="")
    print("\r")

*
**
***
****
*****
****
***
**
*

# Question 3

In [16]:
name = input("Enter name: ")

Enter name: hanad

In [31]:
print("Input : ", name)
print("Output :", name[::-1])

Input :  hanad
Output : danah

# Question 4

In [18]:
string = '''WE, THE PEOPLE OF INDIA,
                 having solemnly resolved to constitute India into a SOVEREIGN, !
                       SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC 
                       and to secure to all its citizens '''

In [19]:
print(string)

WE, THE PEOPLE OF INDIA,
                 having solemnly resolved to constitute India into a SOVEREIGN, !
                       SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
                       and to secure to all its citizens